<li class="card">
  <div class="flow">
    {% if headingContext === "h2" %}
      <h2>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      </h2>
    {% else %}
      <h4>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      </h4>
    {% endif %}
    <div class="cluster">
      <span class="text-step-min-1">
        {% set definedDate = item.date %}
        {% include "components/date.njk" %}
        {%
          if
          activateTags and item.data.tags.length > 1
        %}
          {# For cards with multiple tags, show all tags for the card, not just the 2nd one #}
          {# The first tag (at index 0) is typically "posts", so skip and start at index 1 #}
          {% for tagButton in range( 1, item.data.tags.length ) %} 
          <span class="button post-tag"> {{ item.data.tags[ tagButton ] }} </span>
          {% endfor %}
        {% endif %}
      </span>
    </div>
    <p>{{ item.data.description }}</p>
  </div>
</li>
