---
layout: base
---
<header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h2 class="text-center text-base-light">{{ title }}</h2>
    </div>
  </header>
<article
  class="region wrapper flow prose"
>
  {{ content | safe }}
</article>

