 <p>
<a href="https://micro.blog/dvdlite" rel="me" class="nounderline"><img src="/uploads/2024/platform-micro-blog-grey.svg" alt="micro.blog" width="24" height="24"></a>  
<a href="https://hachyderm.io/@dvdlite" rel="me" class="nounderline"><img src="/uploads/2024/platform-mastodon-grey.svg" alt="mastodon" width="24" height="24"></a>  
 <a href="https://github.com/dvdlite" rel="me" class="nounderline"><img src="/uploads/2024/platform-github-grey.svg" alt="github" width="24" height="24"></a>  
 <a href="https://letterboxd.com/dvdlite/" rel="me" class="nounderline"><img src="/uploads/2024/platform-letterboxd-grey.svg" alt="letterboxd" width="24" height="24"></a>  
 <a href="mailto:dvdlite@dvdlite.co" rel="me" class="nounderline"><img src="/uploads/2024/platform-email-grey.svg" alt="email" width="24" height="24"></a>  
 <a href="https://buymeacoffee.com/dvdlite" rel="me" class="nounderline"><img src="/uploads/2024/platform-buymeacoffee-grey.svg" alt="buy me a coffee" width="24" height="24"></a>  
 <a href="/feed.xml" rel="alternate" type="application/atom+xml" class="nounderline"><img src="/uploads/2024/rss-grey.svg" alt="rss" width="24" height="24"></a>
</p>
<p>© 2024 David Leitko <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="nounderline"><img src="/uploads/2024/ccheart-red.svg" alt="BY-NC-SA-4.0" width="16" height="16"></a></p>
<p><a href="/license/">License</a>  <a href="/privacy/">Privacy</a>  <a href="/disclaimer/">Disclaimer</a></p>

