<div class="page-content">
    <div class="wrapper">
      
<div class="page">
<H2>Welcome to my digital homestead!</h2>
<p>Hi, I’m David. I’m a life-long knowledge worker and computer geek who posts about technology, woodcraft, making things, travel, and whatever else peaks my interest.  Please feel free to take a look around or subscribe to my <a href="/feed.xml">RSS feed</a>.</p>
<p>👋 Thank you for dropping by!</p>
<img src="https://dvdlite.micro.blog/uploads/2024/welcome.jpg" width="600" height="321" alt="Autumn leaves on a bed of green moss and tree roots" title="Autumn leaves on a bed of green moss and tree roots">
<hr>
<H2>Latest posts</H2>
</div>
</div>
</div>



