<footer class="site-foot">
  <div class="wrapper">

    <!-- Show socials -->
    <div class="site-foot__inner">
      <nav
        class="site-foot__inner text-step-0"
        aria-label="{{ meta.navigation.ariaBottom }}"
      >
      <nav class="site-foot__inner" aria-label="{{ meta.navigation.ariaPlatforms }}">
        <!-- gets the first item from the feed loop set in meta -->
        
        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <a href="{{ value }}" rel="me">
              <span class="visually-hidden">{{ key | capitalize }}</span>
              <div aria-hidden="true">{% include 'svg/platform-' + key + '.svg' %}</div>
            </a>
          {% endif %}
        {% endfor %}
      </nav>
      <a
          href="{{ meta.blog.feedLinks[0].url }}"
          rel="alternate"
          type="{{ meta.blog.feedLinks[0].type }}"
        >
          <span class="visually-hidden">{{ meta.blog.feedLinks[0].title }}</span>
          <div aria-hidden="true">{% include 'svg/rss.svg' %}</div>
        </a>
    </div>
    
    <!-- Show copyright -->
        <div class="site-foot__inner">
      <nav
        class="site-foot__inner text-step-0"
        aria-label="{{ meta.navigation.ariaBottom }}"
      >
        &copy; {% year %} David Leitko 
        <a href="https://creativecommons.org/licenses/by/4.0/">
          {% include 'svg/ccheart_red.svg' %}
        </a>
      </nav>
    </div>

    <!-- Show bottom navigation -->
    <div class="site-foot__inner">
      <nav
        class="site-foot__inner text-step-0"
        aria-label="{{ meta.navigation.ariaBottom }}"
      >
        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>
    </div>
    
    <!-- theme switch -->
    {% include 'components/theme-switch.njk' %}
  </div>
</footer>
